
/*! General */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0 auto;
}

ul { 
    margin: 0 auto;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/*! Header */

.main-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation-menu {
    display: flex; 
    align-items: center;
    margin-right: auto;
}

.header-logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    display: block;
    margin-right: 76px;
    padding: 25.5px 0 25.5px;

}

.logo-span {
    color: #2e2f42;
}

.header-menu {
    display: flex;
    gap: 40px;
}

.nav-link-main-page {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

    padding: 24px 0 24px;
}

.header-navigation-menu .header-menu li:first-child a {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.header-navigation-menu .header-menu li:first-child a::after {
    content:'';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 48px;
    background-color: #404bbf;
    border-radius: 2px;
}


.nav-link-main-page:hover {
    color: #404bbf;
}

.nav-link-main-page:focus {
    color: #404bbf;
}





.address {
    font-style: normal;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-link {
    color: #434455;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-link:hover {
        color: #404BBF;
    }

.address-link:focus {
    color: #404BBF;
}

.address-list li:first-child a {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list li:last-child a {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/*! Main */

/* Solutions */

.solutions {
    background-color: #2e2f42;
    padding: 188px 0 188px; 
} 

.solutions {
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/img-name.jpeg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.solutions .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-solutions {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    background: #2E2F42;
    text-align: center;
    
    max-width: 496px;
}

.solutions .button {
    font-family: inherit;
    background-color:#4D5AE5;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;

    display: block;
    padding: 16px 32px;
    min-width: 169px;
    border: none;
    height: 56px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.button:hover,  
.button:focus {
    background-color: #404BBF;
}

/*? Values */

.values {
    padding: 120px 0;
}

.values-list {
    display: flex;
    gap: 24px;
}

.values-listed-item {
    width: calc((100% - 72px) / 4);
}

.values-listed-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;

}


.values-header-item {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height:1.2;
    letter-spacing: 0.02em;

    margin-bottom: 8px;
}

.values-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.values-listed-item {
    
}

/* Team */

.team {
    padding: 120px 0;
    background-color: #F4F4FD;
}

.team-container {
    display: column;
    background: #F4F4FD;
}

.team-header-main {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;

    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    background: #FFF;
}

.team-list .team-list-item {
    background: #FFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
} 

.team-member-name-occupation {
    padding: 32px 0;
}

.team-header-item {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}


.team-icon-list {
    list-style: none;
    display: flex;
    gap: 24px;
    margin-bottom: 0 auto;
    justify-content: center;
}

.team-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover, 
.team-icon-link:focus {
    background-color: #404bbf;
}


.team-icon {
    fill: #f4f4fd;
}
.team-listed-item-icon {
    width: 40px;
    height: 40px;
}



/* Portfolio */

.portfolio {
    padding: 120px 0 120px 0;
}

.portfolio-container {
    display: block;
}

.portfolio-header-main {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;

    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-listed-apps {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.img-portfolio {
    height: 300px;
}

.portfolio-header-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-header-item {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-listed-item {
    border: 1px solid var#E7E9FC;
    background:#FFF;
    width: calc((100%-48px))/3;
}

.portfolio-listed-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-listed-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);

}

.portfolio-listed-item:hover .portfolio-img-text {
    transform: translateY(0%);
}

.portfolio-img {
    position: relative;
    overflow: hidden;
}

.portfolio-img-text {
    position: absolute;
    top: 0;
    ont-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


/*! Footer */

.footer {
    background: #2E2F42;
}

.footer-span {
    color: #f4f4fd;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    
    margin: 0;
    max-width: 264px;
}

.footer-social-media {
    display: inline-block;
}

.footer-social-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;

}
.footer-social-media-list {
    display: flex;
    gap: 16px;
}

.footer-container {
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: baseline;
    display: flex;
}

.footer-container-logo {
    margin-right: 120px;
    padding-left: 156px;
}

.footer-listed-social-media {
    width: 40px;
    height: 40px;
}

.footer-social-media-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-media-link:hover {
    background-color: #31d0aa;
}

.footer-social-media-link:focus {
    background-color: #31d0aa;
}

.footer-icon {
    fill: #f4f4fd
}